{% comment %}
  Displays the list of comments for an article with pagination.
  Expects 'article' object.
{% endcomment %}

{% if article.comments_count > 0 %}
  <div class="flex-1 items-center justify-center mx-auto max-w-4xl px4">
    <h1 class="text-lg mb-4 font-medium">See what people are saying</h1>
    {% paginate article.comments by 5 %}
      {% for comment in article.comments %}
        <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-4 leading-relax">
          <span class="comment-author font-bold">
            {{ comment.author }}
          </span>
          <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
          <p class="text-small">
            {{ comment.content }}
          </p>
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}
  </div>
{% else %}
  There are no comments in this article
{% endif %}
